In [58]:
# importing packages
import pandas as pd
import geopandas as gpd
import numpy as np
import matplotlib.pyplot as plt
import rasterio

In [59]:
# open tifs with rasterio
arland_1992 = rasterio.open('fpdata/LANDCOVER_30M_NLCD_USGS_1992.tif')

In [60]:
print(f"Number of bands: {arland_1992.count}")
print(f"Width: {arland_1992.width}")
print(f"Height: {arland_1992.height}")
print(f"Data type: {arland_1992.dtypes}")

Number of bands: 1
Width: 14869
Height: 13461
Data type: ('uint8',)

In [61]:
arland_2011 = rasterio.open('fpdata/NLCD2011_LC_Arkansas.tif')

In [62]:
print(f"Number of bands: {arland_2011.count}")
print(f"Width: {arland_2011.width}")
print(f"Height: {arland_2011.height}")
print(f"Data type: {arland_2011.dtypes}")

Number of bands: 1
Width: 14847
Height: 13440
Data type: ('uint8',)

In [63]:
arland_2016 = rasterio.open('fpdata/NLCD_2016_Land_Cover_Arkansas.tif')

In [64]:
print(f"Number of bands: {arland_2016.count}")
print(f"Width: {arland_2016.width}")
print(f"Height: {arland_2016.height}")
print(f"Data type: {arland_2016.dtypes}")

Number of bands: 1
Width: 15785
Height: 13953
Data type: ('uint8',)

In [65]:
# coordinate reference systems
arland_1992.crs

CRS.from_epsg(26915)

In [66]:
arland_2011.crs

CRS.from_epsg(5070)

In [67]:
arland_2016.crs

CRS.from_epsg(26915)

In [68]:
# bounding boxes
arland_1992.bounds

BoundingBox(left=355243.70598020987, bottom=3641083.364938164, right=791431.8327620588, top=4055667.468990909)

In [69]:
arland_2011.bounds

BoundingBox(left=122655.0, bottom=1107285.0, right=568065.0, top=1510485.0)

In [70]:
arland_2016.bounds

BoundingBox(left=343066.7042173315, bottom=3638217.5293793054, right=816596.9561089696, top=4056798.7836781316)

In [71]:
# numpy array reading
arlanda_1992 = arland_1992.read(1)

In [72]:
arlanda_2011 = arland_2011.read(1)

In [73]:
arlanda_2016 = arland_2016.read(1)

In [74]:
# land type counts 1992
unique92, counts92 = np.unique(arlanda_1992, return_counts=True)
dict(zip(unique92, counts92))

{0: 47203106,
 11: 3812743,
 21: 1005005,
 22: 307997,
 23: 571320,
 31: 69358,
 32: 66568,
 33: 925767,
 41: 39739877,
 42: 20619388,
 43: 18049000,
 51: 121931,
 71: 4815,
 81: 22648958,
 82: 30734696,
 83: 2733968,
 85: 232170,
 91: 10936431,
 92: 368511}

In [75]:
# land type counts 2011
unique11, counts11 = np.unique(arlanda_2011, return_counts=True)
dict(zip(unique11, counts11))

{11: 3559870,
 21: 5844549,
 22: 2471437,
 23: 624919,
 24: 240070,
 31: 247820,
 41: 35671083,
 42: 24741404,
 43: 7532205,
 52: 4637779,
 71: 3921257,
 81: 19897207,
 82: 30675057,
 90: 12533476,
 95: 439096,
 255: 46506451}

In [76]:
# land type counts 2016
unique16, counts16 = np.unique(arlanda_2016, return_counts=True)
dict(zip(unique16, counts16))

{11: 3571387,
 21: 5435792,
 22: 2322927,
 23: 683256,
 24: 267903,
 31: 349250,
 41: 29518291,
 42: 24760431,
 43: 11037189,
 52: 3527715,
 71: 3827469,
 81: 20556996,
 82: 31180630,
 90: 15330102,
 95: 628161,
 255: 67250606}

In [77]:
# count number of land pixels removing superfluous background count 255
pixels_2016 = arlanda_2016.size - 67250606

In [78]:
pixels_2016

152997499

In [79]:
pixels_2011 = arlanda_2011.size - 46506451

In [80]:
pixels_2011

153037229

In [81]:
# superfluous background count under 0 with this year
pixels_1992 = arlanda_1992.size - 47203106

In [82]:
pixels_1992

152948503

In [83]:
# converting land pixels to dataframes
df_2016 = pd.DataFrame(list(zip(unique16, counts16, (counts16/pixels_2016)*100)), 
                       columns=['lc', 'count_2016', 'fraction_2016'])

In [84]:
# ignore lc 255 and percents are correct
df_2016

     lc  count_2016  fraction_2016
0    11     3571387       2.334278
1    21     5435792       3.552863
2    22     2322927       1.518278
3    23      683256       0.446580
4    24      267903       0.175103
5    31      349250       0.228272
6    41    29518291      19.293316
7    42    24760431      16.183553
8    43    11037189       7.213967
9    52     3527715       2.305734
10   71     3827469       2.501655
11   81    20556996      13.436165
12   82    31180630      20.379830
13   90    15330102      10.019838
14   95      628161       0.410569
15  255    67250606      43.955363

In [85]:
df_2011 = pd.DataFrame(list(zip(unique11, counts11, (counts11/pixels_2011)*100)), 
                       columns=['lc', 'count_2011', 'fraction_2011'])

In [86]:
# ignore lc 255 and percents are correct
df_2011

     lc  count_2011  fraction_2011
0    11     3559870       2.326146
1    21     5844549       3.819037
2    22     2471437       1.614925
3    23      624919       0.408344
4    24      240070       0.156870
5    31      247820       0.161934
6    41    35671083      23.308762
7    42    24741404      16.166918
8    43     7532205       4.921812
9    52     4637779       3.030491
10   71     3921257       2.562290
11   81    19897207      13.001547
12   82    30675057      20.044180
13   90    12533476       8.189822
14   95      439096       0.286921
15  255    46506451      30.388979

In [87]:
df_1992 = pd.DataFrame(list(zip(unique92, counts92, (counts92/pixels_1992)*100)), 
                       columns=['lc', 'count_1992', 'fraction_1992'])

In [88]:
# ignore lc 0 and percents are correct
df_1992

    lc  count_1992  fraction_1992
0    0    47203106      30.862091
1   11     3812743       2.492828
2   21     1005005       0.657087
3   22      307997       0.201373
4   23      571320       0.373537
5   31       69358       0.045347
6   32       66568       0.043523
7   33      925767       0.605280
8   41    39739877      25.982521
9   42    20619388      13.481262
10  43    18049000      11.800704
11  51      121931       0.079720
12  71        4815       0.003148
13  81    22648958      14.808225
14  82    30734696      20.094800
15  83     2733968       1.787509
16  85      232170       0.151796
17  91    10936431       7.150401
18  92      368511       0.240938

In [89]:
# combine dataframes to look at non-combined lc values between 2011 and 2016: med developed, high developed
df11_16 = pd.merge(df_2011, df_2016, on=['lc'])
df11_16

     lc  count_2011  fraction_2011  count_2016  fraction_2016
0    11     3559870       2.326146     3571387       2.334278
1    21     5844549       3.819037     5435792       3.552863
2    22     2471437       1.614925     2322927       1.518278
3    23      624919       0.408344      683256       0.446580
4    24      240070       0.156870      267903       0.175103
5    31      247820       0.161934      349250       0.228272
6    41    35671083      23.308762    29518291      19.293316
7    42    24741404      16.166918    24760431      16.183553
8    43     7532205       4.921812    11037189       7.213967
9    52     4637779       3.030491     3527715       2.305734
10   71     3921257       2.562290     3827469       2.501655
11   81    19897207      13.001547    20556996      13.436165
12   82    30675057      20.044180    31180630      20.379830
13   90    12533476       8.189822    15330102      10.019838
14   95      439096       0.286921      628161       0.410569
15  255    46506451      30.388979    67250606      43.955363

In [90]:
# add change percentage
df11_16['change'] = (df11_16['count_2016'] - df11_16['count_2011'])
df11_16['change_percent'] = (((df11_16['count_2016'] - df11_16['count_2011']) / df11_16['count_2011']) * 100)
df11_16

,lc,count_2011,fraction_2011,count_2016,fraction_2016,change,change_percent
0,11,3559870,2.326146,3571387,2.334278,11517,0.323523
1,21,5844549,3.819037,5435792,3.552863,-408757,-6.993816
2,22,2471437,1.614925,2322927,1.518278,-148510,-6.009055
3,23,624919,0.408344,683256,0.446580,58337,9.335130
4,24,240070,0.156870,267903,0.175103,27833,11.593702
5,31,247820,0.161934,349250,0.228272,101430,40.928900
6,41,35671083,23.308762,29518291,19.293316,-6152792,-17.248683
7,42,24741404,16.166918,24760431,16.183553,19027,0.076903
8,43,7532205,4.921812,11037189,7.213967,3504984,46.533306
9,52,4637779,3.030491,3527715,2.305734,-1110064,-23.935250
10,71,3921257,2.562290,3827469,2.501655,-93788,-2.391784
11,81,19897207,13.001547,20556996,13.436165,659789,3.315988
12,82,30675057,20.044180,31180630,20.379830,505573,1.648157
13,90,12533476,8.189822,15330102,10.019838,2796626,22.313251
14,95,439096,0.286921,628161,0.410569,189065,43.057782
15,255,46506451,30.388979,67250606,43.955363,20744155,44.604898

In [91]:
# group first 2 years
df_first2 = pd.merge(df_1992, df_2011, how="outer", on=['lc'])
df_first2

     lc  count_1992  fraction_1992  count_2011  fraction_2011
0     0  47203106.0      30.862091         NaN            NaN
1    11   3812743.0       2.492828   3559870.0       2.326146
2    21   1005005.0       0.657087   5844549.0       3.819037
3    22    307997.0       0.201373   2471437.0       1.614925
4    23    571320.0       0.373537    624919.0       0.408344
5    24         NaN            NaN    240070.0       0.156870
6    31     69358.0       0.045347    247820.0       0.161934
7    32     66568.0       0.043523         NaN            NaN
8    33    925767.0       0.605280         NaN            NaN
9    41  39739877.0      25.982521  35671083.0      23.308762
10   42  20619388.0      13.481262  24741404.0      16.166918
11   43  18049000.0      11.800704   7532205.0       4.921812
12   51    121931.0       0.079720         NaN            NaN
13   52         NaN            NaN   4637779.0       3.030491
14   71      4815.0       0.003148   3921257.0       2.562290
15   81  22648958.0      14.808225  19897207.0      13.001547
16   82  30734696.0      20.094800  30675057.0      20.044180
17   83   2733968.0       1.787509         NaN            NaN
18   85    232170.0       0.151796         NaN            NaN
19   90         NaN            NaN  12533476.0       8.189822
20   91  10936431.0       7.150401         NaN            NaN
21   92    368511.0       0.240938         NaN            NaN
22   95         NaN            NaN    439096.0       0.286921
23  255         NaN            NaN  46506451.0      30.388979

In [92]:
# append the third
df_all3 = pd.merge(df_first2, df_2016, how="outer", on=['lc'])
df_all3

,lc,count_1992,fraction_1992,count_2011,fraction_2011,count_2016,fraction_2016
0,0,47203106.0,30.862091,NaN,NaN,NaN,NaN
1,11,3812743.0,2.492828,3559870.0,2.326146,3571387.0,2.334278
2,21,1005005.0,0.657087,5844549.0,3.819037,5435792.0,3.552863
3,22,307997.0,0.201373,2471437.0,1.614925,2322927.0,1.518278
4,23,571320.0,0.373537,624919.0,0.408344,683256.0,0.446580
5,24,NaN,NaN,240070.0,0.156870,267903.0,0.175103
6,31,69358.0,0.045347,247820.0,0.161934,349250.0,0.228272
7,32,66568.0,0.043523,NaN,NaN,NaN,NaN
8,33,925767.0,0.605280,NaN,NaN,NaN,NaN
9,41,39739877.0,25.982521,35671083.0,23.308762,29518291.0,19.293316
10,42,20619388.0,13.481262,24741404.0,16.166918,24760431.0,16.183553
11,43,18049000.0,11.800704,7532205.0,4.921812,11037189.0,7.213967
12,51,121931.0,0.079720,NaN,NaN,NaN,NaN
13,52,NaN,NaN,4637779.0,3.030491,3527715.0,2.305734
14,71,4815.0,0.003148,3921257.0,2.562290,3827469.0,2.501655
15,81,22648958.0,14.808225,19897207.0,13.001547,20556996.0,13.436165
16,82,30734696.0,20.094800,30675057.0,20.044180,31180630.0,20.379830
17,83,2733968.0,1.787509,NaN,NaN,NaN,NaN
18,85,232170.0,0.151796,NaN,NaN,NaN,NaN
19,90,NaN,NaN,12533476.0,8.189822,15330102.0,10.019838
20,91,10936431.0,7.150401,NaN,NaN,NaN,NaN
21,92,368511.0,0.240938,NaN,NaN,NaN,NaN
22,95,NaN,NaN,439096.0,0.286921,628161.0,0.410569
23,255,NaN,NaN,46506451.0,30.388979,67250606.0,43.955363

In [97]:
# Re-assign all developed together: 21, 22, 23 become 24
df_all3[df_all3 == 21] = 24
df_all3[df_all3 == 22] = 24
df_all3[df_all3 == 23] = 24
df_all3

,lc,count_1992,fraction_1992,count_2011,fraction_2011,count_2016,fraction_2016,change,change_percent
0,0,47203106.0,30.862091,NaN,NaN,NaN,NaN,NaN,NaN
1,11,3812743.0,2.492828,3559870.0,2.326146,3571387.0,2.334278,11517.0,0.323523
2,24,1005005.0,0.657087,5844549.0,3.819037,5435792.0,3.552863,-408757.0,-6.993816
3,24,307997.0,0.201373,2471437.0,1.614925,2322927.0,1.518278,-148510.0,-6.009055
4,24,571320.0,0.373537,624919.0,0.408344,683256.0,0.446580,58337.0,9.335130
5,24,NaN,NaN,240070.0,0.156870,267903.0,0.175103,27833.0,11.593702
6,31,69358.0,0.045347,247820.0,0.161934,349250.0,0.228272,101430.0,40.928900
7,32,66568.0,0.043523,NaN,NaN,NaN,NaN,NaN,NaN
8,33,925767.0,0.605280,NaN,NaN,NaN,NaN,NaN,NaN
9,43,39739877.0,25.982521,35671083.0,23.308762,29518291.0,19.293316,-6152792.0,-17.248683
10,43,20619388.0,13.481262,24741404.0,16.166918,24760431.0,16.183553,19027.0,0.076903
11,43,18049000.0,11.800704,7532205.0,4.921812,11037189.0,7.213967,3504984.0,46.533306
12,51,121931.0,0.079720,NaN,NaN,NaN,NaN,NaN,NaN
13,52,NaN,NaN,4637779.0,3.030491,3527715.0,2.305734,-1110064.0,-23.935250
14,71,4815.0,0.003148,3921257.0,2.562290,3827469.0,2.501655,-93788.0,-2.391784
15,81,22648958.0,14.808225,19897207.0,13.001547,20556996.0,13.436165,659789.0,3.315988
16,82,30734696.0,20.094800,30675057.0,20.044180,31180630.0,20.379830,505573.0,1.648157
17,82,2733968.0,1.787509,NaN,NaN,NaN,NaN,NaN,NaN
18,85,232170.0,0.151796,NaN,NaN,NaN,NaN,NaN,NaN
19,90,NaN,NaN,12533476.0,8.189822,15330102.0,10.019838,2796626.0,22.313251
20,90,10936431.0,7.150401,NaN,NaN,NaN,NaN,NaN,NaN
21,90,368511.0,0.240938,NaN,NaN,NaN,NaN,NaN,NaN
22,90,NaN,NaN,439096.0,0.286921,628161.0,0.410569,189065.0,43.057782
23,255,NaN,NaN,46506451.0,30.388979,67250606.0,43.955363,20744155.0,44.604898

In [98]:
# Re-assign all trees together: 41, 42 become 43
df_all3[df_all3 == 41] = 43
df_all3[df_all3 == 42] = 43
df_all3

,lc,count_1992,fraction_1992,count_2011,fraction_2011,count_2016,fraction_2016,change,change_percent
0,0,47203106.0,30.862091,NaN,NaN,NaN,NaN,NaN,NaN
1,11,3812743.0,2.492828,3559870.0,2.326146,3571387.0,2.334278,11517.0,0.323523
2,24,1005005.0,0.657087,5844549.0,3.819037,5435792.0,3.552863,-408757.0,-6.993816
3,24,307997.0,0.201373,2471437.0,1.614925,2322927.0,1.518278,-148510.0,-6.009055
4,24,571320.0,0.373537,624919.0,0.408344,683256.0,0.446580,58337.0,9.335130
5,24,NaN,NaN,240070.0,0.156870,267903.0,0.175103,27833.0,11.593702
6,31,69358.0,0.045347,247820.0,0.161934,349250.0,0.228272,101430.0,40.928900
7,32,66568.0,0.043523,NaN,NaN,NaN,NaN,NaN,NaN
8,33,925767.0,0.605280,NaN,NaN,NaN,NaN,NaN,NaN
9,43,39739877.0,25.982521,35671083.0,23.308762,29518291.0,19.293316,-6152792.0,-17.248683
10,43,20619388.0,13.481262,24741404.0,16.166918,24760431.0,16.183553,19027.0,0.076903
11,43,18049000.0,11.800704,7532205.0,4.921812,11037189.0,7.213967,3504984.0,46.533306
12,51,121931.0,0.079720,NaN,NaN,NaN,NaN,NaN,NaN
13,52,NaN,NaN,4637779.0,3.030491,3527715.0,2.305734,-1110064.0,-23.935250
14,71,4815.0,0.003148,3921257.0,2.562290,3827469.0,2.501655,-93788.0,-2.391784
15,81,22648958.0,14.808225,19897207.0,13.001547,20556996.0,13.436165,659789.0,3.315988
16,82,30734696.0,20.094800,30675057.0,20.044180,31180630.0,20.379830,505573.0,1.648157
17,82,2733968.0,1.787509,NaN,NaN,NaN,NaN,NaN,NaN
18,85,232170.0,0.151796,NaN,NaN,NaN,NaN,NaN,NaN
19,90,NaN,NaN,12533476.0,8.189822,15330102.0,10.019838,2796626.0,22.313251
20,90,10936431.0,7.150401,NaN,NaN,NaN,NaN,NaN,NaN
21,90,368511.0,0.240938,NaN,NaN,NaN,NaN,NaN,NaN
22,90,NaN,NaN,439096.0,0.286921,628161.0,0.410569,189065.0,43.057782
23,255,NaN,NaN,46506451.0,30.388979,67250606.0,43.955363,20744155.0,44.604898

In [99]:
# Re-assign crops of 1992 to fit later years: 83 becomes 82
df_all3[df_all3 == 83] = 82
df_all3

,lc,count_1992,fraction_1992,count_2011,fraction_2011,count_2016,fraction_2016,change,change_percent
0,0,47203106.0,30.862091,NaN,NaN,NaN,NaN,NaN,NaN
1,11,3812743.0,2.492828,3559870.0,2.326146,3571387.0,2.334278,11517.0,0.323523
2,24,1005005.0,0.657087,5844549.0,3.819037,5435792.0,3.552863,-408757.0,-6.993816
3,24,307997.0,0.201373,2471437.0,1.614925,2322927.0,1.518278,-148510.0,-6.009055
4,24,571320.0,0.373537,624919.0,0.408344,683256.0,0.446580,58337.0,9.335130
5,24,NaN,NaN,240070.0,0.156870,267903.0,0.175103,27833.0,11.593702
6,31,69358.0,0.045347,247820.0,0.161934,349250.0,0.228272,101430.0,40.928900
7,32,66568.0,0.043523,NaN,NaN,NaN,NaN,NaN,NaN
8,33,925767.0,0.605280,NaN,NaN,NaN,NaN,NaN,NaN
9,43,39739877.0,25.982521,35671083.0,23.308762,29518291.0,19.293316,-6152792.0,-17.248683
10,43,20619388.0,13.481262,24741404.0,16.166918,24760431.0,16.183553,19027.0,0.076903
11,43,18049000.0,11.800704,7532205.0,4.921812,11037189.0,7.213967,3504984.0,46.533306
12,51,121931.0,0.079720,NaN,NaN,NaN,NaN,NaN,NaN
13,52,NaN,NaN,4637779.0,3.030491,3527715.0,2.305734,-1110064.0,-23.935250
14,71,4815.0,0.003148,3921257.0,2.562290,3827469.0,2.501655,-93788.0,-2.391784
15,81,22648958.0,14.808225,19897207.0,13.001547,20556996.0,13.436165,659789.0,3.315988
16,82,30734696.0,20.094800,30675057.0,20.044180,31180630.0,20.379830,505573.0,1.648157
17,82,2733968.0,1.787509,NaN,NaN,NaN,NaN,NaN,NaN
18,85,232170.0,0.151796,NaN,NaN,NaN,NaN,NaN,NaN
19,90,NaN,NaN,12533476.0,8.189822,15330102.0,10.019838,2796626.0,22.313251
20,90,10936431.0,7.150401,NaN,NaN,NaN,NaN,NaN,NaN
21,90,368511.0,0.240938,NaN,NaN,NaN,NaN,NaN,NaN
22,90,NaN,NaN,439096.0,0.286921,628161.0,0.410569,189065.0,43.057782
23,255,NaN,NaN,46506451.0,30.388979,67250606.0,43.955363,20744155.0,44.604898

In [100]:
# Re-assign wetlands of 1992 to match later years, combine later years into 1, all become 90
df_all3[df_all3 == 91] = 90
df_all3[df_all3 == 92] = 90
df_all3[df_all3 == 95] = 90
df_all3

,lc,count_1992,fraction_1992,count_2011,fraction_2011,count_2016,fraction_2016,change,change_percent
0,0,47203106.0,30.862091,NaN,NaN,NaN,NaN,NaN,NaN
1,11,3812743.0,2.492828,3559870.0,2.326146,3571387.0,2.334278,11517.0,0.323523
2,24,1005005.0,0.657087,5844549.0,3.819037,5435792.0,3.552863,-408757.0,-6.993816
3,24,307997.0,0.201373,2471437.0,1.614925,2322927.0,1.518278,-148510.0,-6.009055
4,24,571320.0,0.373537,624919.0,0.408344,683256.0,0.446580,58337.0,9.335130
5,24,NaN,NaN,240070.0,0.156870,267903.0,0.175103,27833.0,11.593702
6,31,69358.0,0.045347,247820.0,0.161934,349250.0,0.228272,101430.0,40.928900
7,32,66568.0,0.043523,NaN,NaN,NaN,NaN,NaN,NaN
8,33,925767.0,0.605280,NaN,NaN,NaN,NaN,NaN,NaN
9,43,39739877.0,25.982521,35671083.0,23.308762,29518291.0,19.293316,-6152792.0,-17.248683
10,43,20619388.0,13.481262,24741404.0,16.166918,24760431.0,16.183553,19027.0,0.076903
11,43,18049000.0,11.800704,7532205.0,4.921812,11037189.0,7.213967,3504984.0,46.533306
12,51,121931.0,0.079720,NaN,NaN,NaN,NaN,NaN,NaN
13,52,NaN,NaN,4637779.0,3.030491,3527715.0,2.305734,-1110064.0,-23.935250
14,71,4815.0,0.003148,3921257.0,2.562290,3827469.0,2.501655,-93788.0,-2.391784
15,81,22648958.0,14.808225,19897207.0,13.001547,20556996.0,13.436165,659789.0,3.315988
16,82,30734696.0,20.094800,30675057.0,20.044180,31180630.0,20.379830,505573.0,1.648157
17,82,2733968.0,1.787509,NaN,NaN,NaN,NaN,NaN,NaN
18,85,232170.0,0.151796,NaN,NaN,NaN,NaN,NaN,NaN
19,90,NaN,NaN,12533476.0,8.189822,15330102.0,10.019838,2796626.0,22.313251
20,90,10936431.0,7.150401,NaN,NaN,NaN,NaN,NaN,NaN
21,90,368511.0,0.240938,NaN,NaN,NaN,NaN,NaN,NaN
22,90,NaN,NaN,439096.0,0.286921,628161.0,0.410569,189065.0,43.057782
23,255,NaN,NaN,46506451.0,30.388979,67250606.0,43.955363,20744155.0,44.604898

In [101]:
# Observations from data below, could not get coding attempts to work, so final data is new variables plus math
# developed land data
alldev_1992 = 1005005 + 307997 + 571320
alldev_2011 = 5844549 + 2471437 + 624919 + 240070
alldev_2016 = 3571387 + 5435792 + 2322927 + 683256

In [103]:
alldev_2016

12013362

In [104]:
alldev_2011

9180975

In [105]:
alldev_1992

1884322

In [133]:
dev_change_9216 = round((alldev_2016 - alldev_1992) / alldev_1992 * 100, 1)

In [134]:
print(f"Developed land percentage increase from 1992 to 2016 is {dev_change_9216}%.")

Developed land percentage increase from 1992 to 2016 is 537.5%.

In [112]:
# cropland data
allcrop_1992 = 30734696 + 2733968
allcrop_2011 = 30675057
allcrop_2016 = 31180630

In [116]:
allcrop_1992

33468664

In [130]:
crop_change_9216 = round((allcrop_1992 - allcrop_2016) / allcrop_1992 * 100, 1)

In [131]:
print(f"Crop land percentage decrease from 1992 to 2016 is {crop_change_9216}%.")

Crop land percentage decrease from 1992 to 2016 is 6.8%.

In [119]:
# forest data
allforest_1992 = 39739877 + 20619388 + 18049000
allforest_2011 = 35671083 + 24741404 + 7532205
allforest_2016 = 29518291 + 24760431 + 11037189

In [120]:
allforest_1992

78408265

In [121]:
allforest_2011

67944692

In [122]:
allforest_2016

65315911

In [123]:
forest_change_9211 = round((allforest_1992 - allforest_2011) / allforest_1992 * 100, 1)

In [124]:
print(f"Forest land percentage decrease from 1992 to 2011 is {forest_change_9211}%.")

Forest land percentage decrease from 1992 to 2011 is 13.3%.

In [125]:
forest_change_1116 = round((allforest_2011 - allforest_2016) / allforest_2011 * 100, 1)

In [126]:
print(f"Forest land percentage decrease from 2011 to 2016 is {forest_change_1116}%.")

Forest land percentage decrease from 2011 to 2016 is 3.9%.

In [127]:
forest_change_9216 = round((allforest_1992 - allforest_2016) / allforest_1992 * 100, 1)

In [140]:
print(f"Forest land percentage decrease from 1992 to 2016 is {forest_change_9216}%.")

Forest land percentage decrease from 1992 to 2016 is 16.7%.

In [135]:
# wetlands data
allwet_1992 = 10936431 + 368511
allwet_2011 = 12533476 + 439096
allwet_2016 = 15330102 + 628161

In [136]:
wetlands_change_9211 = round((allwet_2011 - allwet_1992) / allwet_1992 * 100, 1)

In [137]:
print(f"Wetlands percentage increase from 1992 to 2011 is {wetlands_change_9211}%.")

Wetlands percentage increase from 1992 to 2011 is 14.8%.

In [138]:
wetlands_change_1116 = round((allwet_2016 - allwet_2011) / allwet_2011 * 100, 1)

In [142]:
print(f"Wetlands percentage increase from 2011 to 2016 is {wetlands_change_1116}%.")

Wetlands percentage increase from 2011 to 2016 is 23.0%.

In [143]:
wetlands_change_9216 = round((allwet_2016 - allwet_1992) / allwet_1992 * 100, 1)

In [144]:
print(f"Wetlands percentage increase from 1992 to 2016 is {wetlands_change_9216}%.")

Wetlands percentage increase from 1992 to 2016 is 41.2%.